.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 75px; /* Change the value to adjust the font size */
  color: #eeff00;
}

.logoPhoto {
  width: 150px;
  height: 150px;
}
