.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow-y: scroll; */
  padding: 20px;
}

.title {
  margin-bottom: 30px;
}

.restaurantsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  max-width: 1000px;
  max-height: 500px;
}

.restaurantsContainer > * {
  margin: 5px;
}
