.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow-y: scroll; */
  padding: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 75px; /* Change the value to adjust the font size */
  color: #eeff00;
}

.restaurantsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  max-width: 1000px;
  max-height: 500px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.restaurantsContainer > * {
  margin: 5px;
}

.seeNearestRestaurantsButton {
  background-color: rgb(233, 210, 30);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.seeNearestRestaurantsButtonHighlighted {
  background-color: rgb(30, 203, 233);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.seeRecommendedRestaurantsButton {
  background-color: rgb(233, 210, 30);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.seeRecommendedRestaurantsButtonHighlighted {
  background-color: rgb(30, 203, 233);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}
