.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}

.buttonDefault {
  background-color: rgb(233, 210, 30);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}

.buttonHighlight {
  background-color: rgb(30, 203, 233);
  margin-top: 20px;
  margin-right: 20px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #000000;
}
