/* Styles for Restaurants search bar. */

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchBar {
  font-size: 25px; /* Change the value to adjust the text size */
  width: 600px; /* Change the value to adjust the width */
  height: 40px; /* Change the value to adjust the height */
  border-radius: 10px;
  border: 2px solid #000000;
  margin-right: 5px;
  padding-left: 20px;
}

.searchButton {
  background-color: rgb(233, 210, 30);
  height: 40px;
  width: 60px;
  border-radius: 10px;
  border: 2px solid #000000;
}
